<?xml version='1.0' encoding='utf-8'?>
<widget id="wtf.pdyxs.budget" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>BudgetHaver</name>
    <description>
        Budget Haver
    </description>
    <author email="talk@pdyxs.wtf" href="http://pdyxs.wtf">
        Paul Sztajer
    </author>
    <content src="index.html" />
    <icon src="icon" />
    <platform name="ios">
      <icon src="icon-60@3x.png" platform="ios" width="180" height="180" />
      <splash src="Default-Portrait-736h@3x.png" platform="ios" width="1242" height="2208" />
    </platform>
    <access origin="*" />
</widget>
