$stars-height: 85vh;

.fader {
  position: absolute;
  left: 0;
  top: 0;
  background-color: black;
  opacity: 0;
  z-index: 20;
  visibility: hidden;
  transition: opacity 0.5s ease, visibility 0.5s;
  &.on {
    position: fixed;
    opacity: 0.5;
    visibility: visible;
    transition: opacity 0.5s ease;
  }
}

.stars {
  position: absolute;
  top: -$stars-height;
  left: 0;
  height: $stars-height;
  transition: all 0.5s ease;
  z-index: 50;

  &.expanded {
    position: fixed;
    top: 0vh;
    transition: all 0.5s ease;
  }

  .container {
    scroll-behavior: auto;
    overflow-y:scroll;
    max-height:$stars-height;
  }
}

.banner {
  position: absolute;
  right: 10px;
  top: $stars-height;

  .icon {
    font-size: 1.45rem;
  }

  .count {
    position: absolute;
    text-align: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding-top: 0.66rem;
    font-size: 0.8em;
  }

  .triangle {
    position: absolute;
    bottom: -34px;
    font-size: 58px;
    left: -1px;
  }
}
