---
---

$body-bg: #f3cc89;

@import "bootstrap/bootstrap";
// @import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');

@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  src: local('Quicksand Regular'), local('Quicksand-Regular'), url('/style/font.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

.main-icon {
  min-height: 30vh;
  background-image: url('../icon.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

@media (max-width: 349px) {
  .display-header {
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 1.2;
  }

  .lead-xs {
    margin: 0 !important;
  }
}

@media (min-width: 350px) {
  .display-header {
    font-size: 3.5rem;
    font-weight: 300;
    line-height: 1.2;
  }

  .lead-xs {
    font-size: 1.25rem;
    font-weight: 300;
  }
}
