.rounded-bottom-0,
.rounded-bottom-0.input-group .input-group-text,
.rounded-bottom-0.input-group .form-control {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.rounded-top-0,
.rounded-top-0.input-group .input-group-text,
.rounded-top-0.input-group .form-control {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.unlock-edit-button .unlocked {
  display: none;
}

.unlock-edit-button.editing .unlocked {
  display: block;
}

.unlock-edit-button.editing .locked {
  display: none;
}

.px-2-5 {
  padding-left: 0.75rem !important;
  padding-right: 0.75rem !important;
}

@media (min-width: 321px) {
  .px-xs-3 {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }
}
